# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Database
Database/
*.db
*.sqlite
*.sqlite3

# Raw datasets
Raw Dataset/

# Virtual environments
.venv/
venv/
env/

# Environment/secrets
.env

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp